<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>


    <style>
        /* Modal backdrop styling */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            justify-content: center;
        }

        .modal-content {
            background-color: white;
            padding: 1.5rem;
            border-radius: 0.5rem;
            width: 80%;
        }
    </style>

</head>

<body class="bg-gray-100">

    <div class="flex h-screen">

        <!-- Include the sidebar in the layout -->
        {% include 'Admin/sidebar.html' %}

        <!-- Main Content -->
        <div class="flex-1 ml-[20%] w-[80%] p-6">
            <!-- All Users Header -->
            <div class="flex items-center justify-between bg-[#D65B5B] p-4 rounded-t-lg">
                <div class="flex items-center text-white">
                    <i class="ri-admin-line text-2xl mr-2 "></i>
                    <h2 class="text-xl font-semibold">All Users</h2>
                </div>
                <div class="flex space-x-4">
                    <button class="bg-white text-[#D65B5B] p-2 rounded-full">
                        <div class="w-6 h-6">
                            <i class="ri-notification-line"></i>
                        </div>
                    </button>
                    <button class="bg-white text-[#D65B5B] p-2 rounded-full">
                        <div class="w-6 h-6">
                            <a href="/logout">

                                <i class="ri-logout-circle-r-line"></i>
                            </a>
                        </div>
                    </button>
                </div>
            </div>

            <!-- Search bar -->
            <div class="bg-white p-4 rounded-lg mt-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1">
                        <input class="w-full p-2 rounded-lg outline-none border border-gray-300" type="text"
                            placeholder="Search by Account No or Contact">
                    </div>
                    <button class="bg-[#D65B5B] text-white px-4 py-2 rounded-lg">
                        Search
                    </button>
                </div>
            </div>

            <!-- User Table -->
            <div class="bg-gray-200 p-4 rounded-b-lg mt-4">
                <table class="w-full text-left bg-white rounded-lg shadow">
                    <thead class="bg-gray-300">
                        <tr>
                            <th class="px-4 py-2">User Name</th>
                            <th class="px-4 py-2">Customer No</th>
                            <th class="px-4 py-2">Account No</th>
                            <th class="px-4 py-2">E-mail</th>
                            <th class="px-4 py-2">Phone no</th>
                            <th class="px-4 py-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr class="table__row">
                            <td class="border px-4 py-2">{{ user['username'] }}</td>
                            <td class="border px-4 py-2">{{ user.customer_no }}</td>
                            <td class="border px-4 py-2">{{ user.account_no }}</td>
                            <td class="border px-4 py-2">{{ user.email }}</td>
                            <td class="border px-4 py-2">{{ user.phone_no }}</td>
                            <td class="border px-4 py-2">
                                <a onclick="openModal('modal{{ loop.index }}')" href="#">

                                    <i class="ri-eye-line text-[#D65B5B] text-xl cursor-pointer"></i>
                                </a>
                            </td>
                        </tr>

                        <!-- Modal -->
                        <div class="modal fixed  bg-black bg-opacity-50  left-0 w-full h-full overflow-y-auto"
                            id="modal{{ loop.index }}">
                            <div class="w-[960px] h-max mx-auto border border-gray-300 bg-white p-6">
                                <!-- Header Section -->
                                <div
                                    class="text-lg font-bold text-gray-700 border-b-2 border-gray-300 pb-2 mb-4 flex justify-between">
                                    <div>
                                        <span>
                                            <i class="ri-user-3-line text-[#D65B5B] text-xl"></i>
                                        </span>
                                        Personal Details
                                    </div>
                                    <div>
                                        <button onclick="closeModal('modal{{ loop.index }}')"> X </button>
                                    </div>
                                </div>

                                <!-- Personal Details Section -->
                                <div class="flex">
                                    <!-- Details Column -->
                                    <div class="flex-1 border-r border-gray-300 pr-4">
                                        <div class="mb-4 flex  border p-2 border-gray-300 justify-between ">
                                            <div class="font-bold w-1/2 border-r border-gray-300 ">Full Name of
                                                Applicant :-
                                            </div>
                                            <div class=" p-2 w-1/2 border-r border-gray-300 ">{{ user['username'] }}
                                            </div>
                                        </div>
                                        <div class="mb-4 flex  border p-2 border-gray-300 justify-between ">
                                            <div class="font-bold w-1/2 border-r border-gray-300">Father's Name :-</div>
                                            <div class=" p-2 w-1/2 border-r border-gray-300 ">example name</div>
                                        </div>
                                        <div class="mb-4 flex  border p-2 border-gray-300 justify-between ">
                                            <div class="font-bold w-1/2 border-r border-gray-300 ">Mother's Name</div>
                                            <div class=" p-2 w-1/2 border-r border-gray-300 ">example name</div>
                                        </div>
                                        <div class="mb-4 flex  border p-2 border-gray-300 justify-between ">
                                            <div class="font-bold w-1/2 border-r border-gray-300 ">Date Of Birth</div>
                                            <div class=" p-2 w-1/2 border-r border-gray-300 ">example date</div>
                                        </div>
                                        <div class="mb-4 flex  border p-2 border-gray-300 justify-between ">
                                            <div class="font-bold w-1/2 border-r border-gray-300 ">Gender</div>
                                            <div class=" p-2 w-1/2 border-r border-gray-300 ">male example</div>
                                        </div>
                                    </div>

                                    <!-- Photo Column -->
                                    <div class="flex-none w-1/3 flex justify-center items-center p-2">
                                        <img src="https://placehold.co/150x200" alt="Profile Image"
                                            class="w-full  border border-gray-300 object-cover">
                                    </div>
                                </div>

                                <!-- Additional Details Section -->
                                <div class="mt-4">
                                    <div class="font-bold text-gray-700 border-t-2 border-gray-300 pt-4 mb-2">Additional
                                        Details</div>
                                    <div class="mb-4">
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Account Number</div>
                                            <div>XXXXXXXXXX</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Customer ID</div>
                                            <div>*************</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">IFSC Code</div>
                                            <div>AUBANKXXXXX</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Bank Balance</div>
                                            <div>₹ 0.00</div>
                                        </div>
                                    </div>

                                    <!-- Additional Info -->
                                    <div class="mb-4">
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Nationality</div>
                                            <div>India</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Date & Time</div>
                                            <div>15-09-2020 12:00:00</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Mobile Number</div>
                                            <div>XXXXXXXXXX</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Email Address</div>
                                            <div>example@mail.com</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nominee Details Section -->
                                <div class="mt-4">
                                    <div class="font-bold text-gray-700 border-t-2 border-gray-300 pt-4 mb-2">Nominee
                                        Details</div>
                                    <div class="mb-4">
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Nominee Name</div>
                                            <div>Example name</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Nominee Relation</div>
                                            <div>Father</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Nominee DOB</div>
                                            <div>15-09-2020</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Nominee Mobile Number</div>
                                            <div>XXXXXXXXXX</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Present Address Section -->
                                <div class="mt-6">
                                    <div class="text-lg font-bold text-gray-700 border-t-2 border-gray-300 pt-4 mb-2">
                                        <i class="ri-map-pin-line w-5 h-5 mr-2 text-red-600"></i> Address
                                    </div>
                                    <div class="mb-4">
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Address</div>
                                            <div>335 Lorem ipsum dolor sit amet.</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">State/UT</div>
                                            <div></div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Village/City/Town</div>
                                            <div>U</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">District</div>
                                            <div></div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Pincode</div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Document Section -->
                                <div class="mt-6">
                                    <div class="text-lg font-bold text-gray-700 border-t-2 border-gray-300 pt-4 mb-2">
                                        <i class="ri-file-copy-2-line w-5 h-5 mr-2 text-red-600"></i> Document
                                    </div>
                                    <div class="border-t border-gray-300 p-2">
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Document Type</div>
                                            <div>Aadhar Card</div>
                                        </div>
                                        <div class="flex justify-between border-b border-gray-300 p-2">
                                            <div class="font-bold">Document Number</div>
                                            <div>XXXXXXXXXXXX</div>
                                        </div>
                                        <div class="flex flex-col items-center">
                                            <div class="font-bold p-2">Document Image</div>
                                            <img src="https://placehold.co/1500x2000" alt="Document Image"
                                                class="w-[1500px] h-[2000px] border border-gray-300 object-cover p-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <script>
        const tableRows = document.querySelectorAll('.table__row');
        tableRows.forEach((row, index) => {
            if (index % 2 === 0) {
                row.classList.add('bg-gray-200');  // Apply background color for even rows
            } else {
                row.classList.add('bg-white');     // Apply background color for odd rows
            }
        });


        // Function to open the modal
        function openModal(modalId) {
            document.getElementById(modalId).style.display = 'flex';
        }

        // Function to close the modal
        function closeModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }
    </script>


</body>

</html>