<body class="bg-gray-100">

    <div class="flex h-screen">

        <!-- Include the sidebar in the layout -->
        {% include 'Admin/sidebar.html' %}

        <!-- Main Content -->
        <div class="flex-1 ml-[20%] w-[80%] p-6">
            {% include 'Home/EMI_calculator.html' %}
        </div>
    </div>

    </div>


    <!-- Highcharts JavaScript -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/emi_cal.js') }}"></script>



</body>

</html>