<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loan.css') }}">



</head>

<body class="bg-gray-100">

    <div class="flex h-screen">

        <!-- Include the sidebar in the layout -->
        {% include 'user/sidebar.html' %}

        <!-- Main Content -->
        <div class="flex-1 ml-[20%] w-[80%] p-6">
            {% include 'Home/loan_apply.html' %}
        </div>
        
    </div>

    </div>




    <script src="{{ url_for('static', filename='Js/loan.js') }}"></script>

</body>

</html>